* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.btn {
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    font-weight: 500;
}

.nav-list li:hover {
    color: #469165;
    cursor: pointer;
}


/* banner section */

#banner {
    height: 500px;
    background: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    color: #276941;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 32px;
    margin-bottom: 8px;
}

.banner-heading {
    font-size: 62px;
    font-weight: 700;
    line-height: 74px;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.color-heading {
    color: #30B868;
    font-size: 62px;
    font-weight: 700;
}

.banner-sub {
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-right-btn {
    background-color: transparent;
    border: 1px solid white;
    gap: 8px;
}


/* Notes Don't Fail, Structure Does */
#notes {
    margin-top: 40px;
}

.notes-heading {
    color: #001931;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.notes-sub {
    color: #627382;
    font-size: 16px;
    text-align: center;
}

.notes-card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
}

.notes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    border: 1px solid #bbbaba36;
    border-radius: 12px;
    box-shadow: 0px 4px 8px #bbbabaa8;
    padding: 50px 20px 20px 20px;
}

.notes-card-logo {
    background-color: #F95555;
    padding: 12px 14px;
    border-radius: 50%;
}

.notes-card-title {
    color: #001931;
    font-size: 18px;
    font-weight: 600;
}

.notes-card-sub {
    color: #627382;
}


/* The Solution */
#solution {
    width: 80%;
    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
.solution-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.solution-tag {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

.solution-title {
    color: #001931;
    font-size: 36px;
    font-weight: 700;
}

.solution-sub {
    color: #627382;
    font-size: 16px;
}

.solution-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.solution-list-item {
    color: #001931;
    font-size: 16px;
    font-weight: 500;
}


/* Challenge Part */

#challenge {
    background-color: #F7F6F2;
    width: 80%;
    margin: 0px auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 60px 40px 44px 40px;
    border-radius: 12px;
}

.challenge-title {
    color: #001931;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.challenge-sub,
.challenge-bottom-line {
    margin-bottom: 16px;
    color: #627382;
    font-size: 16px;
    text-align: center;
}